<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img alt="Angular Logo" src="/src/assets/images/drone.png">
  </div>
  <div>
    <input id="numOfDrones" [(ngModel)]="numOfDrones">
    <label for="numOfDrones">Drones</label>
    <button (click)="recalculateData()">Refresh</button>
  </div>
</header>

<app-map></app-map>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://tgftech.github.io/angular-cesium/">Angular-Cesium Docs</a></h2>
  </li>
</ul>

